:root {
  rust: #a43f10;
  gold: #fbab17;
  yellow: #ffcf01;
  orange: #f18721;
  green: #097c3e;
  charcoal: #333333;
  grey: #efefef;
  white: #fffff;
}

/** Home Styling **/
header {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

.header-container {
  max-width: 50%;
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.filler-home-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.filler-text-block {
  padding-top: 5rem;
  margin-bottom: 10rem;
}
div.home-image {
  background-image: url("./assets/imgs/saf.svg");
  background-size: cover;
  max-width: 100%;
  z-index: 2;
}

div.resource-home-card {
  background: rgba(254, 254, 254, 0.9);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem 0.825rem;
  max-height: 300px;
  z-index: 1;
}

/* div.svg-image {
  background-image: url("./assets/imgs/handsheart.svg");
  background-size: cover;
  max-width: 100%;
} */

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

img.hands-image {
  position: relative;
  min-width: 150%;
  left: -1rem;
  top: -2rem;
}

.resource-card-grid {
  margin: 2rem 0;
}

/** End of Home Styling **/

/** Resource Page **/
.resources-container,
.resource-single-container {
  margin-top: 3rem;
  margin-bottom: 8rem;
}
.resource-buttons {
  margin: 2rem 0;
}
.resource-buttons-indv {
  padding: 0 0.5rem;
}
div.resource-card {
  width: 380px;
  max-height: 350px;
  background-color: #ffffff;
  border: 1px solid #fbab17;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0.825rem;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}
/** End of Resource Page **/

/** Footer Styling **/
.footer {
  background-color: #efefef;
  padding: 1.5rem 0;
}
/** End of Footer Styling **/

/** Button Styling **/
button.button {
  background: #fbab17;
  border: 2px solid #333;
  border-radius: 5000px;
  color: #000000;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.825rem 1.5rem;
}

button.button:hover {
  background: #333333;
  color: #ffffff;
}

.button-filter {
  background: #ffffff;
  border: 2px solid #333;
  border-radius: 5000px;
  color: #333333;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
}
.button-filter:hover,
.button-filter:active {
  background-color: #fbab17;
}

.button.secondary {
  background-color: #fbab17;
}

[type="search"] {
  border: 2px solid #fbab17;
}

/** End of Button Styling **/

/** Font Styling **/
body {
  color: #333333;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #a43f10;
  margin: 0;
}

h3 {
  color: #333333;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
p {
  font-size: 1.25rem;
  font-weight: 300;
}

footer p,
.small-text {
  font-size: 0.875rem;
  margin: 0;
}

.text-link-color {
  color: #fbab17;
}
.menu a {
  color: #fefefe;
}
.menu a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
/** End of Font Styling **/

/**  Nav Styling */

.navigation {
  background-color: #a43f10;
  position: relative;
}

@media screen and (max-width: 39.9375em) {
  .right-nav-block {
    margin: 0 auto;
    padding: 5px 0;
  }

  .nav-menu-button {
    margin-left: auto;
  }
  .nav-links.expanded {
    width: 100%;
    flex-basis: 100%;
  }
  .nav-menu-button {
    margin-left: auto;
  }
  .nav-links.expanded {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .right-nav-block {
    margin-left: auto;
  }
}
